<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>59829663132-db9oc360mvies7n5695hvdro89tgr52t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.59829663132-db9oc360mvies7n5695hvdro89tgr52t</string>
	<key>API_KEY</key>
	<string>AIzaSyCB9KD9mprDUgvl3UhwqPtPOskNqQwaNKA</string>
	<key>GCM_SENDER_ID</key>
	<string>59829663132</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.device.module</string>
	<key>PROJECT_ID</key>
	<string>devicemodule</string>
	<key>STORAGE_BUCKET</key>
	<string>devicemodule.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:59829663132:ios:1ced5a2e6c59b07711c459</string>
</dict>
</plist>